<div class="container">
  <div class="user-container">
    <div class = "user-photo">
    <% if @user.photo.present? %>
      <%= image_tag @user.photo, alt: "User Photo", class: "photo" %>
    <% else %>
      <span>No photo</span>
    <% end %>
    </div>
    <div class="user-details">
      <h2 class="user-name"><%= @user.name %></h2>
      <p class="user-post-count">Number of posts: <%= @user.posts.count %></p>
    </div>
  </div>

  <div class="user-bio">
    <h4>Bio</h4>
    <p><%= @user.bio %></p>
  </div>

  <ul>
   <% @user.last_three_posts.each do |post| %>
    <li>
      <div class="post">
        <h3><%= post.title %></h3>
        <p><%= post.text.truncate_words(60) %></p>
        <p class="counters">No of comments: <%= post.comments.count %>,
          No of likes: <%= post.likes.count %></p>
      </div>
    </li>
  <% end %>
  </ul>
  <div class="button">
    <%= link_to user_posts_path(@user) do %>
      <span>See all posts</span>
    <% end %>
    <a href= "<%= new_user_post_path(@user) %>">   
        Create a new Post
    </a>
  </div>
</div>
