<div class="container">
    <div class="flash-messages success">
      <% if flash[:notice] %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>  
    </div>
  <div class="new-post button">
    <%= link_to 'Create a new Post', new_user_post_path %>
  </div>
  <div class="user-container">
    <div class="user-photo">
      <% if @user.photo.present? %>
        <%= image_tag @user.photo, alt: "User Photo", class: "photo" %>
      <% else %>
        <span>No photo</span>
      <% end %>
    </div>
    <div class="user-details">
      <h2 class="user-name"><%= @user.name %></h2>
      <p class="user-post-count">Number of posts: <%= @user.posts.count %></p>
    </div>
  </div>
  <ul>
    <% @user.posts.each do |post| %>
        <li>
      <a href="<%= user_post_path(@user, post) %>">
          <div class="post">
            <h3><%= post.title %></h3>
            <p><%= post.text.truncate_words(80) %></p>    
            <h4>Comments:</h4>
            <hr>
            <% post.last_five_comments.each do |comment| %>
              <div>
                <p><%= comment.text %></p>
                <% if comment.author %>
                  <p><em>Commented by <%= comment.author.name %></em></p>
                <% else %>
                  <p><em>Commented by Unknown User</em></p>
                <% end %>
              </div>
            <% end %>
          </div>        
      </a>
        </li>
    <% end %>
  </ul>
</div>
<div class="button"><a href="">Pagination</a></div>