<h1>New Blog Post</h1>

<%= form_with model: @post, url: new_user_post_path, method: :post, local: true, scope: :post do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>

  <%= f.submit "Submit" %>
<% end %>
