<div class="container">
    <div class="post-container">
      <h4><%= @post.title %> by <%= @post.author.name %></h4>
      <p><%= @post.text %></p>

      <div class="comments-container">
        <% @post.comments.each do |comment| %>
          <p><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
      </div>
    </div>
</div>


